/* General Styles */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdf5e6; /* Tan background */
    color: #000;
    line-height: 1.6;
    padding-top: 2em;
}

/* Navigation Bar */
nav {
    background-color: #68594A; /* Walnut Brown background */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    line-height: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}

nav ul li {
    margin: 0 10px;
    padding: 0 0;
}

nav ul li a {
    background-color: #68594A;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-bottom: 2px #FFF;
}

nav ul li a:hover {
    background-color: #000;
}

/* Header */
header {
    background-color: #68594A; /* Walnut Brown background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Flexbox Section for Call to Action */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

iframe{
    border: none;
}

/* Gallery Images */
.mySlides{
    max-width: 1200px; 
    max-height: 700px;
}

/* Gallery Container */
.galleryContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galleryContainer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Links for Call to Action */
button {
    background-color: #F68551;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 5px;
    display: inline-block;
}

button:hover {
    background-color: #FF9864;
}

/* Heading 2 in sections */
section h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

/* Welcome Section*/
.welcomeList{
    list-style: none;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
}

.welcomeList li{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 0.5em; /* Space between the text and image */
    align-items: start;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFF;
}

.missionInfo {
    font-size: 1.2em;
}

.ccmLogo img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Officers Section */
.officerTeam {
    text-align: center;
    margin: 20px;
}

.officerTeam h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.officerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 16px; /* Space between items */
    max-width: 100%; /* Optional: to control the width */
    margin: 0 auto; /* Center the grid on the page */
}

.officer {
    background-color: #f9f9f9; /* Light background for each cell */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.officer h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

/* Mass Times Section*/
.massTimeList{
    list-style: none;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
}

.massTimeList li{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 0.5em; /* Space between the text and image */
    align-items: start;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFF;
}

.massTimeList .churchInfo {
    font-size: 1.2em;
}

.massTimeList .churchImage img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #68594A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 10px;
}

footer a img {
    margin: 0 10px;
    width: 80px;
    height: 80px;
}

footer a:hover img {
    opacity: 0.8;
}