/* General Styles */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fdf5e6; /* Tan background */
    color: #000;
    line-height: 1.6;
}

/* Navigation Bar */
nav {
    background-color: #68594A; /* Walnut Brown background */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    line-height: 1.2;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1000px;
}

nav ul li {
    margin: 0 10px;
    padding: 0 0;
}

nav ul li a {
    background-color: #68594A;
    color: #000;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
    border-bottom: 2px #FFF;
}

nav ul li a:hover {
    background-color: #000;
    color: #FFF;
}

/* Header */
header {
    background-color: #68594A; /* Walnut Brown background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Flexbox Section for Call to Action */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Gallery Images */
.mySlides{
    max-width: 1000px; 
    max-height: 500px;
}
/* Gallery Container */
.galleryContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.galleryContainer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Links for Call to Action */
button {
    background-color: #F68551;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 5px;
    display: inline-block;
}

button:hover {
    background-color: #FF9864;
}

/* Upcoming Events Section */
section h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #68594A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 10px;
}

footer a img {
    margin: 0 10px;
    width: 80px;
    height: 80px;
}

footer a:hover img {
    opacity: 0.8;
}